.full-height {
  height: 100vh;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

#card-img {
  height: 300px;
}

.earth {
  height: 80%;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#start,
#function,
#about {
  width: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  background-color: #9e9e9e;
}

#start h2,
p {
  color: greenyellow;
  transform: 0.5s;
}

#start h2:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#start p:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.main-footer {
  color: white;
  background-color: rgb(80, 80, 80);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.main-footer a {
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 850px) {
  .card-container {
    flex-direction: column;
  }

  #start,
  #function,
  #about {
    height: auto;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
  }
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.function {
  height: 80%;
  width: 80%;
  background-color: #212529;
  border-radius: 30px;
  color: greenyellow;
  padding: 5px;
  box-shadow: #212529;
  padding: 50px;
}

#input {
  background-color: rgb(80, 80, 80);
  height: 40%;
  border-radius: 30px;
  margin-bottom: 40px;
}

#output {
  background-color: rgb(80, 80, 80);
  height: 40%;
  border-radius: 30px;
}

